body{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  
}
.board{
  display: flex;
  flex-direction: column;
  gap:5px;
  
}
.Line{
  display: flex;
  gap:5px
}
.tile{
  width: 80px;
  height: 80px;
  border: 1px solid #C68EFD;
  border-radius: 20px;
  font-size: 60px;
  color: #C68EFD;
  display : flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.correct{
  background-color: #73EC8B;
}
.close{
  background-color: #F9E400;
}
.incorrect{
  background-color: #F5004F;
}
.game-message{
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: #C68EFD;
  
}