body{
  display:flex;
  justify-content: center;
  align-items: center;

}
.board{
  display: flex;
  flex-direction: column;
  gap:5px
}
.Line{
  display: flex;
  gap:5px
}
.tile{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 80px;
  display : flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.correct{
  background-color: lightgreen;
}
.close{
  background-color: yellow;
}
.incorrect{
  background-color: lightgrey;
}